.labeldate{
    margin-top: 30px;
}

.nobordertop{
    border-top: none !important;
}

.listbg{
    background-color: white !important;
    margin-top: 5%;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
    0 2px 4px 0 rgba(0,0,0,0.28) !important;
}

.listbgCart{
    background-color: white !important;
    margin-top: 10%;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
    0 2px 4px 0 rgba(0,0,0,0.28) !important;
}

.inputsmall{
    width: 80% !important;
}

.labelBig{
    font-size: 2em;
    text-align: right;
    margin-right: 15px !important;
}

.date{
    text-align: right;
}

.headershadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22) !important;
}

.argh{
    padding-right: 10px !important; 
}

.SwipedTabs-indicatorSegment{
    -webkit-transition: 0.3s all;
    -moz-transition:  0.3s all;
    -o-transition:  0.3s all;
    transition:  0.3s all;
    transform-origin: top 0 left 0;
    // height: 3px;
    // position: relative;
    // top: 1px;
    // background-color: rgb(255, 255, 255) !important;
}
.SwipedTabs-tabs ion-segment-button{
    border:none !important;
    color:rgb(201, 201, 201) !important;
    font-size: 1.5em !important;
    border-radius: 200px !important;
    background-color: rgb(255, 255, 255) !important;
    // background-color: #2D3142 !important;
}
.SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab{
    color:#2D3142 !important;
    // color:white !important;
    font-size: 1.5em !important;
}
.SwipedTabs-tabs{
    // border-bottom: solid 1px #e6e6e6  !important;
}

.cart{
   margin-top: 20px; 
}

.scroll-content {
    padding-bottom: 0 !important;
}

