<ion-header class="headershadow">
  <ion-navbar color="dark">
    <ion-buttons start left>
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Input Your Spending History</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg">

    <ion-tabs mode="md" tabsHighlight="true">
        <ion-tab [root]="tab1root" tabTitle="Add Spend"></ion-tab>
        <ion-tab [root]="tab2root" tabTitle="Spend List"></ion-tab>
    </ion-tabs>

</ion-content>
