<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start left>
        <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Spendings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="addbuyForm" (ngSubmit)="onSubmitbuyForm()">
        <ion-list class="nobordertop">
            <ion-item padding class="noborder animated fadeInLeftBig faster ">
                <ion-label class="labelbig" color="primary" stacked>Goods Name</ion-label>
                <ion-input type="text" formControlName="goodsName" placeholder="Insert Goods Name"></ion-input>
            </ion-item>
        
            <ion-item padding class="noborder  animated fadeInLeftBig faster ">
                <ion-label class="labelbig" color="primary" stacked>Quantity</ion-label>
                <ion-input type="number" formControlName="qty" placeholder="Insert Quantity"></ion-input>
            </ion-item>

            <ion-item padding class="noborder  animated fadeInLeftBig faster ">
              <ion-label class="labelbig" color="primary" stacked>Price</ion-label>
              <ion-input type="number" formControlName="price" placeholder="Insert Price"></ion-input>
          </ion-item>

          <ion-grid>
          <ion-row>
            <ion-col text-center>
              <h5>Take a Photo!</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button color="primary" ion-button block outline icon-left type="button" (click)="onTakePhoto()">
                <ion-icon name="camera"></ion-icon>
                Open Camera
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

            <ion-item class="noborder animated fadeInLeftBig down">
                <button color="primary" ion-button class="submitGoods" type="submit">Submit Goods</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
