
.labelbig{
    font-size: 1em !important;
}

.nobordertop{
    border-top: none !important;
}

.noborder{
    border: none !important;
    border-bottom: none !important;
}

.down{
    margin-top: 13%;
}

.reset{
    background-color: white !important;
}

ion-list button{
    background-color: transparent !important;
}

// .label-ios[stacked]{
//     margin-bottom: -10px;
// }

.submitGoods{
    margin-top: 0px;
    text-align: center;
    position: relative;
    margin-left: 20%;
    // top: 70%;
    // left: 50%;
    // transform: translate(-50%,-70%);
    border: none;
    padding: 15px 80px;
    text-decoration: none;
    display:block;
    transition: all 0.3s ease-in-out;
    width: 60%;
    height: 50px !important;
    border-radius: 14px;
    color: white;
    background-color: #EEC643 !important;
}

// placeholder change size
::-webkit-input-placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;
  }
  ::-moz-placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;;
  }
  :-ms-input-placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;;
  }
  ::placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;;
  }



