    <ion-slides pager disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:100%;">
      <ion-slide id="page-slide24" style="background-color:#4C8FFE;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="assets/imgs/aGDhBKtgTiieX5UCVQWD_fastforward-icon.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="page-heading2" style="color:#FFFFFF;font-weight:400;text-align:center;">LEBIH CEPAT</h3>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide id="page-slide25" style="background-color:#34BA7F;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="assets/imgs/JSG9WqZQkCd6Tr28gJhc_graphs_46879.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="page-heading3" style="color:#FFFFFF;text-align:center;">TERCATAT</h3>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide id="page-slide26" style="background-color:#9151FB;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="assets/imgs/uSLdSUj1QBevjSs1aAOa_people-icon.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="page-heading4" style="color:#FFFFFF;text-align:center;">ONE FOR ALL</h3>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
 