
::-webkit-scrollbar {
    width:0px;
}

.sidebarcolor{
    background-color: #2D3142;
    // background-image: url('../assets/imgs/bg.png');
    // background-size: cover;
    // background-repeat: no-repeat;
}

ion-list button{
    color: #ffffff !important;
    background-color: #2D3142 !important;
    margin-bottom: 10px !important;
}

.profile-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.profile-image img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
    10px 10px 30px 4px rgba(45,78,255,0.15) !important;
}

.profile-image p{
    text-align: center;
    font-size: 1.7em !important;
    margin-top: 0;
    color: #2d3142;
}

.profile{
    position: relative;
    height: 250px;
    background-color: white;
    z-index: -2;
}

.ups{
        width: 0;
        height: 0;
        border-bottom: 40px solid #2D3142;
        border-right: 315px solid transparent;
        margin-top: -38px;
}

.logout{
    background-color: transparent;
    color: white;
    border-bottom: transparent !important;
}