<ion-menu [content]="sideMenuContent">
  <ion-content *ngIf="check_users()==0" class="sidebarcolor">

  </ion-content>
  <ion-content *ngIf="check_users()==1" class="sidebarcolor">
    <div class="profile">
        <div class="profile-image">
            <img src="assets/imgs/profile_king.jpg" alt="profileimg">
            <p>Owner</p>
        </div>
    </div>

    <div class="ups"></div>

    <ion-list no-lines>
        <button ion-item (click)="onLoad(ownerPage)">
            <ion-icon name="home" item-left></ion-icon>
          Dashboard
        </button>
        
      <button ion-item (click)="onLoad(inputOrderPage)">
          <ion-icon name="cart" item-left></ion-icon>
        Input Order
      </button>

      <button ion-item (click)="onLoad(addItemPage)">
          <ion-icon name="basket" item-left></ion-icon>
        Add Item
      </button>

      <button ion-item (click)="onLoad(addStaffPage)">
          <ion-icon name="man" item-left></ion-icon>
        Add Staff
      </button>

      <button ion-item (click)="onLoad(financeReportPage)">
          <ion-icon name="cash" item-left></ion-icon>
        Finance report
      </button>

    </ion-list>
  </ion-content>

  <ion-content *ngIf="check_users()==2" class="sidebarcolor">
    <div class="profile">
        <div class="profile-image">
            <img src="assets/imgs/profile_knight.jpg" alt="profileimg">
            <p>Warehouse</p>
        </div>
    </div>

    <div class="ups"></div>

    <ion-list no-lines>
      <button ion-item (click)="onLoad(warehousePage)">
          <ion-icon name="home" item-left></ion-icon>
        Dashboard
      </button>
        
      <button ion-item (click)="onLoad(inputOrderPage)">
          <ion-icon name="cart" item-left></ion-icon>
        Input Order
      </button>

      <button ion-item (click)="onLoad(inputspendingPage)">
        <ion-icon name="logo-usd" item-left></ion-icon>
      Spending
    </button>

    </ion-list>
  </ion-content>

  <ion-content *ngIf="check_users()==3" class="sidebarcolor">
    <div class="profile">
        <div class="profile-image">
            <img src="assets/imgs/profile_horse.jpg" alt="profileimg">
            <p>Shipper</p>
        </div>
    </div>

    <div class="ups"></div>

    <ion-list no-lines>
      <button ion-item (click)="onLoad(shipperPage)">
          <ion-icon name="home" item-left></ion-icon>
        Dashboard
      </button>
        
      <button ion-item (click)="onLoad(inputOrderPage)">
          <ion-icon name="cart" item-left></ion-icon>
        Input Order
      </button>
    
    </ion-list>
  </ion-content>

  <ion-footer>
      <button menuClose class="logout" ion-item (click)="logout()">
          <ion-icon name="log-out" item-left></ion-icon>
        Log out
      </button>
  </ion-footer>

</ion-menu>
<ion-nav [root]="warehousePage" #sideMenuContent></ion-nav>
      