<!--
  Generated template for the IncomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
        <!-- <ion-searchbar (ion-input)="getItems($event)"></ion-searchbar> -->
    <mbsc-page>        
        <mbsc-card [options]="settings">
            <mbsc-listview class="listvews" [swipe]="false" [enhance]="true">
                <mbsc-listview-item *ngFor="let item of transactionList">{{item.custName}}
                    <br><br>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-9>
                                <div>{{item.delivDate}}</div>
                            </ion-col>
                            <ion-col col-3>
                                <div>{{item.price}}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <mbsc-listview-sublist>
                        <ion-label text-center class="nocol">{{item.custName}}</ion-label>
                        <mbsc-listview-item *ngFor="let item2 of item.children">
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-12>
                                        <div>{{item2.namaBarang}}</div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-6>
                                        <div>{{item2.qty}}</div>
                                    </ion-col>
                                    <ion-col col-3>
                                        <div>x</div>
                                    </ion-col>
                                    <ion-col col-3>
                                        <div>{{item2.price}}</div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </mbsc-listview-item>
                        <ion-row>
                            <ion-col>
                                <div>Notes: {{item.notes}}</div>
                            </ion-col>
                        </ion-row>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <div>Total:</div>
                                </ion-col>
                                <ion-col col-3>
                                    <div> </div>
                                </ion-col>
                                <ion-col col-3>
                                    <div>{{item.price}}</div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </mbsc-listview-sublist>
                </mbsc-listview-item>
            </mbsc-listview>
            
        </mbsc-card>
    </mbsc-page> 
    <ion-grid class="padd">
        <ion-row >
            <ion-col col-6>
                <ion-label class="labelBottom">Total Price: </ion-label>
            </ion-col>
            <ion-col col-6>
                <ion-label class="labelBottom"> 283000</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    
</ion-content>
