// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #EEC643,
  danger:     #f53d3d,
  light:      #F5F9E9,
  dark:       #2D3142,
  stormcloud: #596869
);

// // make border bottom menghilang

// kalo kosong isinya
$text-input-md-highlight-color-invalid: #f53d3d !important;

// kalo input yg udah diisi
$text-input-md-highlight-color-valid: #EEC643;

// 
$text-input-md-show-invalid-highlight: #f53d3d;

// input yg lagi diisi
$text-input-md-highlight-color: #2D3142;

// gatau yg mane
$text-input-md-show-valid-highlight: #EEC643;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face{
  font-family: 'Monts';
  src: url('../assets/fonts/Monts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
