<ion-header class="headershadow">
  <ion-navbar color="dark">
    <ion-buttons start left>
        <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Add new Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgItem">

    <form [formGroup]="additemForm" (ngSubmit)="onSubmitItemForm()">
        <ion-list class="listbg">

            <ion-label color="primary" class="labelBig animated fadeInLeftBig faster">I T E M</ion-label>

            <ion-item padding class="argh nobordertop">
                <ion-label class="labelbig" color="dark" stacked>Item Name</ion-label>
                <ion-input type="text" formControlName="itemName" placeholder="Insert item Name"></ion-input>
            </ion-item>
        
            <ion-item padding class="argh animated">
                <ion-label class="labelbig" color="dark" stacked>Price</ion-label>
                <ion-input type="number" formControlName="itemPrice" placeholder="Insert price"></ion-input>
            </ion-item>

            <ion-item class="bgtr noborder animated fadeInLeftBig fast">
                <button color="primary" ion-button class="submit" type="submit">SUBMIT NEW ITEM </button>
            </ion-item>
        </ion-list>
    </form>
    
</ion-content>
