.bgItem{
    background-image: url('../../assets/imgs/item_bg.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.labelbig{
    font-size: 1em !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noborder{
    border: none !important;
    border-bottom: none !important;
}

.down{
    margin-top: 15%;
}

// padding input & label
ion-item{
    margin-bottom: 4% !important;
}

ion-input{
    margin-top: -3%;
}

.nobordertop{
    border-top: none !important;
}

// placeholder change size
::-webkit-input-placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;
  }
  ::-moz-placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;;
  }
  :-ms-input-placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;;
  }
  ::placeholder {
    color: rgba(238, 238, 238, 0.863);
    font-size: 0.7em;;
  }

.headershadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22) !important;
}

.argh{
    padding-right: 10px !important;
    background-color: transparent !important;
}

.bgtr{
    background-color: transparent !important;
}

.submit{
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: right !important;
    position: relative;
    margin-left: 20%;
    // top: 70%;
    // left: 50%;
    // transform: translate(-50%,-70%);
    border: none;
    padding: 15px 80px;
    text-decoration: none;
    display:block;
    transition: all 0.3s ease-in-out;
    width: 60%;
    height: 25px;
    border-radius: 14px;
    color: #2D3142 !important;
    background-color: #EEC643 !important;
}



