<ion-header class="headershadow">
  <ion-navbar color="dark">
    <ion-buttons start left>
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Input Your Order</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg">

    <!-- <ion-tabs>
        <ion-tab [root]="tab1root" tabTitle="Order"></ion-tab>
        <ion-tab [root]="tab2root" tabTitle="Cart"></ion-tab>
    </ion-tabs> -->

    <!-- <ion-segment  class="SwipedTabs-tabs"  >
        <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
        [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
          {{tab}}
        </ion-segment-button>
    </ion-segment> -->

      <!-- here is our dynamic line  "indicator"-->
      <!-- <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
    
      <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
                  (ionSlideWillChange)="updateIndicatorPosition()"
                  (ionSlideDidChange)="updateIndicatorPosition()"
                  (pan)="updateIndicatorPosition()"
                  [pager]="false"
            > -->
</ion-content>
