<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col text-center>
      <h5>Take a Photo!</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button color="primary" ion-button block outline icon-left type="button" (click)="onTakePhoto()">
        <ion-icon name="camera"></ion-icon>
        Open Camera
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

    <ion-item class="noborder animated fadeInLeftBig down">
        <button color="primary" ion-button class="submitGoods" type="submit">Submit Goods</button>
    </ion-item>


</ion-content>
