<ion-header class="headershadow">
  <ion-navbar color="dark">
    <ion-buttons start left>
        <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Add new Slave!</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bgStaff">
    <form [formGroup]="addstaffForm" (ngSubmit)="onSubmitstaffForm()">
        <ion-list class="nobordertop listbg">
            <ion-label color="primary" class="labelBig animated fadeInLeftBig faster">S T A F F</ion-label>

            <ion-item padding class="noborder ">
                <ion-label class="labelbig" color="dark" stacked>Staff Name</ion-label>
                <ion-input type="text" formControlName="staffName" placeholder="Insert staff Name"></ion-input>
            </ion-item>
        
            <ion-item padding class="noborder">
                <ion-label class="labelbig" color="dark" stacked>Identity number</ion-label>
                <ion-input type="number" formControlName="identityNumber" placeholder="Insert identity number"></ion-input>
            </ion-item>

            <ion-item padding class="noborder">
                <ion-label class="labelbig" color="dark">Gender</ion-label>
                  <ion-select class="reset" [(ngModel)]="gender" formControlName="gender">
                    <ion-option value="F">Female</ion-option>
                    <ion-option value="M">Male</ion-option>
                  </ion-select>
            </ion-item>

            <ion-item padding class="noborder">
                <ion-label class="labelbig" color="dark">Category</ion-label>
                <ion-select class="reset" [(ngModel)]="category" formControlName="category">
                    <ion-option value="2">Warehouse</ion-option>
                    <ion-option value="3">Shipper</ion-option>
                </ion-select>
            </ion-item>

            <ion-item padding class="noborder">
                <ion-label class="labelbig" color="dark" stacked>Username</ion-label>
                <ion-input type="text" formControlName="usernameNewStaff" placeholder="Insert username"></ion-input>
            </ion-item>

            <ion-item padding class="noborder">
                <ion-label class="labelbig" color="dark" stacked>Password</ion-label>
                <ion-input type="password" formControlName="passwordNewStaff" placeholder="Insert password"></ion-input>
            </ion-item>

            <ion-item padding class="noborder">
                <ion-label class="labelbig" color="dark" stacked>Email</ion-label>
                <ion-input type="email" formControlName="email" placeholder="Insert email"></ion-input>
            </ion-item>

            <ion-item class="bgtr noborder animated fadeInLeftBig fast">
                <button color="primary" ion-button class="submit" type="submit">SUBMIT NEW STAFF</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
