.bgowner {
    background-image: url('../../assets/imgs/owner_bg.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.statusok{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    text-align: center;
    background-image: url("../../assets/imgs/ok.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
}

.statusnotok{
    width: 100%;
    height: 100%;
    background-color: red;
    text-align: center;
    background-image: url("../../assets/imgs/notok.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
}

.statusotwok{
    width: 100%;
    height: 100%;
    background-color: rgb(251, 255, 11);
    text-align: center;
    background-image: url("../../assets/imgs/otwok.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
}

.qtyPrice{
    text-align: right;
}

// card-content card-content-ios
ion-card-content{
    padding-right: 0px !important;
}

.itemOwner{
    background-color: transparent;
    border: none !important;
}

.cardShadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
    0 2px 4px 0 rgba(0,0,0,0.28) !important;
    border-radius: 15px;
}

.orderStatus{
    font-size: 1.5em !important;
}
