<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start left>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Order Status</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgowner">
  <ion-label  class="orderStatus" text-center>
    Check 'em out 
    <ion-icon event="click" positionH="right" positionV="bottom" arrow tooltip=
    "Green  : Made & Ready to send,
     Yellow : Product Made,
     Red    : Not yet Made " 
    name="information-circle"></ion-icon>
  </ion-label>

  <!-- <ion-label text-left>
      
   </ion-label> -->

  <ion-grid>
    <ion-list>
        <ion-item class="itemOwner">
          <ion-card class="cardShadow">
            <ion-row>
              <ion-col col-9>
                <ion-card-header>
                    Jus Mangga
                </ion-card-header>
                
                <ion-card-content>
                  <ion-row>
                    <ion-col col-3>
                      <p>Cust</p>
                      <p>Date</p>
                      <p>Qty</p>
                      <p>Price</p>
                    </ion-col>

                    <ion-col col-9 text-right>
                      <p>Budi</p>
                      <p >Tuesday,12-12-18</p>
                      <p >3</p>
                      <p >12000</p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                </ion-col>
                <ion-col col-3 >
                    <div class="statusok">
                    </div>
                </ion-col>

            </ion-row>
          </ion-card>

          <ion-card class="cardShadow">
              <ion-row>
                <ion-col col-9>
                  <ion-card-header>
                      Jus Jeruk
                  </ion-card-header>
                  <ion-card-content>
                    <ion-row>
                      <ion-col col-3>
                        <p>Cust</p>
                        <p>Date</p>
                        <p>Qty</p>
                        <p>Price</p>
                      </ion-col>
  
                      <ion-col col-9 text-right>
                        <p>Andre</p>
                        <p >Wednesday,12-12-18</p>
                        <p >4</p>
                        <p >48000</p>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                  </ion-col>
                  <ion-col col-3 >
                      <div class="statusnotok">
                      </div>
                  </ion-col>
  
              </ion-row>
          </ion-card>

          <ion-card class="cardShadow">
              <ion-row>
                <ion-col col-9>
                  <ion-card-header>
                      Jus Semangka
                  </ion-card-header>
                  <ion-card-content>
                    <ion-row>
                      <ion-col col-3>
                        <p>Cust</p>
                        <p>Date</p>
                        <p>Qty</p>
                        <p>Price</p>
                      </ion-col>
  
                      <ion-col col-9 text-right>
                        <p> Lala</p>
                        <p >Wednesday,12-12-18</p>
                        <p >4</p>
                        <p >48000</p>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                  </ion-col>
                  <ion-col col-3 >
                      <div class="statusotwok">
                      </div>
                  </ion-col>
  
              </ion-row>
          </ion-card>

          <ion-card class="cardShadow">
              <ion-row>
                <ion-col col-9>
                  <ion-card-header>
                      Jus Alpukat
                  </ion-card-header>
                  <ion-card-content>
                    <ion-row>
                      <ion-col col-3>
                        <p>Cust</p>
                        <p>Date</p>
                        <p>Qty</p>
                        <p>Price</p>
                      </ion-col>
  
                      <ion-col col-9 text-right>
                        <p>Melani</p>
                        <p >Wednesday,12-12-18</p>
                        <p >2</p>
                        <p >24000</p>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                  </ion-col>
                  <ion-col col-3 >
                      <div class="statusok">
                      </div>
                  </ion-col>
  
              </ion-row>
          </ion-card>
        </ion-item>        
    </ion-list>
  </ion-grid>
</ion-content>


