<ion-header class="headershadow">
    <ion-navbar color="dark">
      <ion-buttons start left>
          <button ion-button menuToggle left>
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>Input Your Order</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="bg" padding>
    <!-- <ion-searchbar (ionInput)="getTopics($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let topic of topics">
        <p (click)="clickTopic(topic)">{{ topic }}</p>
      </ion-item>
    </ion-list> -->
    <form [formGroup]="orderForm" (ngSubmit)="onSubmitOrderForm()">
        <ion-list text-center class="listbg">
            <ion-label color="primary" class="labelBig animated fadeInLeftBig faster">O R D E R</ion-label>
        
            <ion-item class="nobordertop argh">
              <ion-label class="labels" color="dark" stacked >Customer Name</ion-label>
              <ion-input formControlName="custName" placeholder="Insert Customer Name"></ion-input>
            </ion-item>
        
            <ion-item class="argh">
              <ion-label class="labels" color="dark" stacked >Delivery Date</ion-label>
              <ion-input placeholder="Click here to select date" formControlName="deliveryDate" (click)="getDate()" [(ngModel)]="deliveryDate"></ion-input>
            </ion-item>
        
            <!-- <ion-item>
              <ion-label  color="primary">Delivery Date</ion-label>
              <ion-datetime class="date" displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
            </ion-item> -->
        
            <!-- <ion-item>
                <ion-label (click)="showCalendar()" class="labeldate" color="primary">Delivery date</ion-label>
            </ion-item>
        
            <ion-calendar id="calendar" #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar> -->
        
            <ion-item class="argh" stacked>
              <ion-label class="labels" color="dark" stacked>Notes</ion-label>
              <ion-input placeholder="Insert notes" formControlName="notes"></ion-input>
            </ion-item>

            <ion-list>
              <ion-list-header color="primary">INPUT ITEMS</ion-list-header>  
              
              <div formArrayName="items"
                *ngFor="let item of orderForm.get('items').controls; let i = index;">
                <div [formGroupName]="i">
                  <!-- <ion-label fixed>Item</ion-label> -->
                  <!-- <ion-input type='text' formControlName="items" placeholder="Input Item"></ion-input> -->
                  <ion-grid>
                    <ion-row class="noPadding">
                      <ion-col col-8>
                        <ion-list>
                          <ion-item>
                            <ion-select placeholder="Select Item" formControlName="chooseItem" style="width: 100%;max-width: 100% !important;">
                              <ion-option *ngFor="let item of all_item" value="{{item.id}}">
                                {{ item.item_name }}
                              </ion-option>
                            </ion-select>
                          </ion-item>
                        </ion-list>
                      </ion-col>

                      <ion-col col-4>
                        <ion-item>
                          <ion-input type='number' formControlName="qty" placeholder="Insert Quantity"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  
                    
                </div>
              </div>
            </ion-list>
            <ion-item class="argh" text-center (click)="addItem()">Tap to Add Item</ion-item>  
            <button color="dark" ion-button class="submit animated fadeInLeftBig fast" type="submit">SUBMIT TO CART</button>
        </ion-list>
      </form>
</ion-content>
