.labels{
    font-size: 1em !important;
}

.select-icon{
    text-align: right;
    padding-left: 0px !important;
}

.noPadding{
    margin-bottom: 0; 
}

.bg{
    background-image: url('../../assets/imgs/order_bg.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.submit{
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: right !important;
    position: relative;
    margin-left: 20%;
    // top: 70%;
    // left: 50%;
    // transform: translate(-50%,-70%);
    border: none;
    padding: 15px 80px;
    text-decoration: none;
    display:block;
    transition: all 0.3s ease-in-out;
    width: 60%;
    height: 25px;
    border-radius: 14px;
    color: #2D3142 !important;
    background-color: #EEC643 !important;
}

.labeldate{
    margin-top: 30px;
}

.nobordertop{
    border-top: none !important;
}

.listbg{
    background-color: white !important;
    margin-top: 5%;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
    0 2px 4px 0 rgba(0,0,0,0.28) !important;
}

.listbgCart{
    background-color: white !important;
    margin-top: 10%;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.32),
    0 2px 4px 0 rgba(0,0,0,0.28) !important;
}

.inputsmall{
    width: 80% !important;
}

.labelBig{
    font-size: 2em;
    text-align: right;
    margin-right: 15px !important;
}

.date{
    text-align: right;
}

.headershadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22) !important;
}

.argh{
    padding-right: 10px !important; 
}

.cart{
   margin-top: 20px; 
}

.scroll-content {
    padding-bottom: 0 !important;
}

.tabs-md[tabsHighlight="true"] .tab-highlight {
    background-color: "primary";
}
