<!--
  Generated template for the SpendingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <!-- <ion-searchbar (ion-input)="getItems($event)"></ion-searchbar> -->
    <mbsc-page>        
        <mbsc-card [options]="settings">
            <mbsc-listview [swipe]="false" [enhance]="true">
                <mbsc-listview-item *ngFor="let data of spendingList">{{data.namaBarang}}
                    <ion-grid>
                        <ion-row>
                            <ion-col col-9>
                                <div>{{data.qty}}</div>
                            </ion-col>
                            <ion-col col-3>
                                <div>{{data.price}}</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <div>
                                    {{data.buyDate}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </mbsc-listview-item>

                    
                

                <!-- <mbsc-listview-item>Settings</mbsc-listview-item>
                <mbsc-listview-item>Rate</mbsc-listview-item>
                <mbsc-listview-item>Tell a friend</mbsc-listview-item>
                <mbsc-listview-item>Term of service</mbsc-listview-item>
                <mbsc-listview-item>Contact us</mbsc-listview-item>
                <mbsc-listview-item>About us</mbsc-listview-item> -->
            </mbsc-listview>
        </mbsc-card>
    </mbsc-page> 
    <ion-grid class="padd">
            <ion-row >
                <ion-col col-6>
                    <ion-label class="labelBottom">Total Price: </ion-label>
                </ion-col>
                <ion-col col-6>
                    <ion-label class="labelBottom"> 994000</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
