page-spending {
    .labelBottom{
        z-index: 99;
        position: absolute;
        top: 60%;
        left: 45%;
        transform: translate(-45%,-60%);
        background-color: white;
        // margin-left: 10%;
        // margin-right: 10%;
        // bottom: 0px; 
        // width: 80%; 
        // margin-bottom: 3%; 
        // padding: 10px;
        // background-color: whitesmoke;
        // border-top: 5px solid red;
    }
}
