<ion-header>
    <ion-navbar color="dark">
      <ion-buttons start left>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>Warehouse</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="bgowner">
    <ion-label class="orderStatusW" text-center>
      Touch greenies to Update the stats!
    </ion-label>
  
    <ion-grid>
      <ion-list>
          <ion-item class="itemOwner">
            <ion-card class="cardShadow" *ngFor="let o of all_orders">
              <ion-row>
                <ion-col col-9>
                  <ion-card-header>
                      {{ o.product_name }}
                  </ion-card-header>
                  
                  <ion-card-content>
                    <ion-row>
                      <ion-col col-3>
                        <p>Cust</p>
                        <p>Date</p>
                        <p>Qty</p>
                        <p>Price</p>
                      </ion-col>
  
                      <ion-col col-9 text-right>
                        <p >{{ o.cust_name }}</p>
                        <p >{{ o.delivery_date }}</p>
                        <p >{{ o.product_qty }}</p>
                        <p >{{ o.total_price }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                  </ion-col>
                  <ion-col col-3 >
                      <ion-row class="buttonOK">
                          <button class="btnfull" (click)="updateStatus()" type="submit" #my_id>{{o.do_id}}</button>
                      </ion-row>

                      <ion-row class="buttonNO">
                          <button class="btnfull" (click)="diklikno()" type="submit"></button>
                        </ion-row>
                  </ion-col>
  
              </ion-row>
            </ion-card>
          </ion-item>        
      </ion-list>
    </ion-grid>
  </ion-content>
  
  
  