.buttonOK{
    width: 100%;
    height: 40%;
    background-color: greenyellow;
    text-align: center; 
    background-image: url("../../assets/imgs/ok.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 15%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
}

.buttonNO{
    width: 100%;
    height: 40%;
    background-color: red;
    text-align: center; 
    background-image: url("../../assets/imgs/notok.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1)
}

.btnfull{
    width: 100%;
    height: 100%;
    margin-top: 5px !important;
}

.orderStatusW{
    font-size: 1.3em !important;
}
