
<ion-content>
  <img class="animated fadeInUp delay-1.5s" src="assets/imgs/logosands.png" alt="logo">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <form class="animated jackInTheBox delay-1s" [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
    <ion-list class="loginForm">
      <ion-item class="username">        
        <ion-label ><ion-icon  [ngStyle]="{'color': buttonColor}"  name="person"></ion-icon></ion-label>
        <ion-input  type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item  class="password">        
        <ion-label> <ion-icon  [ngStyle]="{'color': buttonColor}"   name="lock"></ion-icon></ion-label>
        <ion-input (click)="changeColor();" clearInput type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button color="white" ion-button class="login" type="submit">LOGIN</button>
  </form>
  <div padding></div>

  
</ion-content>
