<ion-content padding class="bgowner">
        <ion-label class="orderStatusW" text-center>
         What we Bought
        </ion-label>
      
        <ion-grid>
          <ion-list>
              <ion-item class="itemOwner noborderTop">
                <ion-card class="cardShadow">
                  <ion-row>
                    <ion-col col-12>
                      <ion-card-header>
                          Mangga
                      </ion-card-header>
                      
                      <ion-card-content>
                        <ion-row>
                          <ion-col col-3>
                            <p>Date</p>
                            <p>Qty</p>
                            <p>Price</p>
                          </ion-col>
      
                          <ion-col col-9 text-right>
                            <p >Tuesday,12-12-18</p>
                            <p >3</p>
                            <p >10000</p>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                      </ion-col>
      
                  </ion-row>
                </ion-card>
      
              </ion-item>  
              
              <ion-item class="itemOwner noborderTop">
                    <ion-card class="cardShadow">
                      <ion-row>
                        <ion-col col-12>
                          <ion-card-header>
                              Jeruk
                          </ion-card-header>
                          
                          <ion-card-content>
                            <ion-row>
                              <ion-col col-3>
                                <p>Date</p>
                                <p>Qty</p>
                                <p>Price</p>
                              </ion-col>
          
                              <ion-col col-9 text-right>
                                <p >Tuesday,12-12-18</p>
                                <p >4</p>
                                <p >32000</p>
                              </ion-col>
                            </ion-row>
                          </ion-card-content>
                          </ion-col>
          
                      </ion-row>
                    </ion-card>
          
                  </ion-item> 
          </ion-list>
        </ion-grid>

        <ion-item class="argh" text-center>Tap to Add Item</ion-item>
      </ion-content>
