.bgspend{
    background-image: url('../../assets/imgs/spend_bg.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.noborderTop{
    border-top: none !important;
}
