<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start left>
        <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Financial Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-tabs mode="md" tabsHighlight="true">
      <ion-tab [root]="tab1root" tabTitle="Income"></ion-tab>
      <ion-tab [root]="tab2root" tabTitle="Spending"></ion-tab>
  </ion-tabs>

</ion-content>
