<ion-content class="bg" padding>
    <ion-list text-center class="listbgCart">
        <ion-label color="primary" class="labelBig animated fadeInLeftBig faster">C A R T</ion-label>
    
        <ion-label color="primary" class="nobordertop argh cart date">Date</ion-label>

        <ion-item class="nobordertop argh cart">
          <ion-label color="dark" >Customer Name</ion-label>
          <!-- <ion-input></ion-input> -->
        </ion-item>
    
        <ion-item class="argh cart">
          <ion-label color="dark" >Choose Item</ion-label>
          <!-- <ion-select class="reset" [(ngModel)]="item">
              <ion-option value="f">Item 1</ion-option>
              <ion-option value="m">Item 2</ion-option>
          </ion-select> -->
        </ion-item>
    
        <ion-item class="argh cart">
          <ion-label color="dark" >Quantity</ion-label>
          <!-- <ion-input></ion-input> -->
        </ion-item>
    
        <ion-item class="argh cart">
          <ion-label color="dark" >Delivery Date</ion-label>
          <!-- <ion-input (click)="getDate()" [(ngModel)]="deliveryDate"></ion-input> -->
        </ion-item>
    
        <ion-item class="argh cart">
            <ion-label color="dark" >Total Price</ion-label>
            <!-- <ion-input></ion-input> -->
          </ion-item>
    
          <button color="dark" ion-button class="submit animated fadeInLeftBig fast" type="submit">SUBMIT ORDER</button>
    </ion-list>
</ion-content>
